<!DOCTYPE html>
<html>
    <head>
        <title>New article</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>New article</h1>
        <form method="POST" action="/article">
            <table>
                <tr><td>BibTeX key:</td><td><input type="text" name="id" id="id"/></td></tr>
                <tr><td>Authors:</td>
                    <td><textarea name="authors" id="authors" rows="5" cols="30"></textarea></td></tr>
                <tr><td>Title:</td><td><input type="text" name="title" id="title"/></td></tr>
                <tr><td>Journal:</td><td><input type="text" name="journal" id="journal"/></td></tr>
                <tr><td>Volume:</td><td><input type="text" name="volume" id="volume"/></td></tr>
                <tr><td>Number:</td><td><input type="text" name="number" id="number"/></td></tr>
                <tr><td>Year:</td><td><input type="text" name="year" id="year"/></td></tr>
                <tr><td>Start Page:</td><td><input type="text" name="startpage" id="startpage"/></td></tr>
                <tr><td>End Page:</td><td><input type="text" name="endpage" id="endpage"/></td></tr>
                <tr><td>Publisher:</td><td><input type="text" name="publisher" id="publisher"/></td></tr>
                <tr><td>Address:</td><td><input type="text" name="address" id="address"/></td></tr>
            </table>
            <p><input type="submit" value="Add"/></p>
        </form>
        <p><a href="/">Back</a></p>
    </body>
</html>
