<!DOCTYPE html>
<html>
    <head>
        <title>New article</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <h1>New article</h1>
        <form method="POST" action="/article">
            <table>
                <tr><td>BibTeX key:*</td><td><input type="text" name="id" id="id"/></td></tr>
                <tr><td>Authors:*</td>
                    <td><textarea name="authors" id="authors" rows="5" cols="30"></textarea></td></tr>
                <tr><td>Title:*</td><td><input type="text" name="title" id="title"/></td></tr>
                <tr><td>Journal:*</td><td><input type="text" name="journal" id="journal"/></td></tr>
                <tr><td>Volume:*</td><td><input type="text" name="volume" id="volume"/></td></tr>
                <tr><td>Number:</td><td><input type="text" name="number" id="number"/></td></tr>
                <tr><td>Year:*</td><td><input type="text" name="year" id="year"/></td></tr>
                <tr><td>Start Page:</td><td><input type="text" name="startpage" id="startpage"/></td></tr>
                <tr><td>End Page:</td><td><input type="text" name="endpage" id="endpage"/></td></tr>
                <tr><td>Publisher:</td><td><input type="text" name="publisher" id="publisher"/></td></tr>
                <tr><td>Address:</td><td><input type="text" name="address" id="address"/></td></tr>
                <tr><td>Note:</td><td><textarea name="note" id="note" rows="3" cols="30"></textarea></td></tr>
                <tr><td>Key:</td><td><input type="text" name="key" id="key"/></td></tr>
            </table>
            <br><div><a href="/" class="btn btn-default">Back</a> <input type="submit" value="Add" class="btn btn-primary"/></div>
        </form>
    </body>
</html>
