<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit inproceeding</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body class="container">
        <h1>Edit inproceeding</h1>
        <div th:if="${errors} != null and ${!errors.empty}" id="error" style="color:red">
            <p th:each="e : ${errors}" th:text="${e.value}">Error message</p>
        </div>
        <form method="POST" action="/edit_inproceeding">
            <table>
                <tr><td>BibTeX key:*</td><td><span th:text="${inproceeding.id}"/></span><input type="hidden" name="id" id="id" th:value="${inproceeding.id}"/></td></tr>
                <tr><td>Authors:*</td>
                    <td><textarea name="authors" id="authors" rows="5" cols="30" th:text="${inproceeding.authors}"></textarea></td></tr>
                <tr><td>Title:*</td><td><input type="text" name="title" id="title" th:value="${inproceeding.title}"/></td></tr>
                <tr><td>Booktitle:*</td><td><input type="text" name="booktitle" id="booktitle" th:value="${inproceeding.booktitle}"/></td></tr>
                <tr><td>Editor:</td><td><input type="text" name="editor" id="editor" th:value="${inproceeding.editor}"/></td></tr>
                <tr><td>Volume:</td><td><input type="text" name="volume" id="volume" th:value="${inproceeding.volume}"/></td></tr>
                <tr><td>Series</td><td><input type="text" name="series" id="series" th:value="${inproceeding.series}"/></td></tr>
                <tr><td>Month:</td><td><input type="text" name="month" id="month" th:value="${inproceeding.month}"/></td></tr>
                <tr><td>Year:*</td><td><input type="text" name="year" id="year" th:value="${inproceeding.year}"/></td></tr>
                <tr><td>Start Page:</td><td><input type="text" name="startpage" id="startpage" th:value="${inproceeding.pages != null} ? ${inproceeding.startpage}: ''"/></td></tr>
                <tr><td>End Page:</td><td><input type="text" name="endpage" id="endpage" th:value="${inproceeding.pages != null} ? ${inproceeding.endpage}: ''"/></td></tr>
                <tr><td>Organization:</td><td><input type="text" name="organization" id="organization" th:value="${inproceeding.organization}"/></td></tr>
                <tr><td>Publisher:</td><td><input type="text" name="publisher" id="publisher" th:value="${inproceeding.publisher}"/></td></tr>
                <tr><td>Address:</td><td><input type="text" name="address" id="address" th:value="${inproceeding.address}"/></td></tr>
                <tr><td>Note:</td><td><textarea name="note" id="note" rows="3" cols="30" th:text="${inproceeding.note}"></textarea></td></tr>
                <tr><td>Key:</td><td><input type="text" name="key" id="key" th:value="${inproceeding.key}"/></td></tr>
            </table>
            <br><div><a href="/" class="btn btn-default">Back</a>
                <input type="submit" name="save" value="Save" class="btn btn-primary"/></div>
        </form>
    </body>
</html>
