<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reference management</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container">
            <h1>Reference management</h1>
            <div class="row">
                <div class="col col-md-6">
                    <h3>Search</h3>
                    <form method="get" class="form-inline">
                        <label for="searchby">By:</label>
                        <select class="form-control" id="searchby" name="searchby">
                            <option value="author">Author</option>
                            <option value="title">Title</option>
                            <option value="tag">Tag</option>
                            <option value="year">Year</option>
                        </select>
                        <label for="search">Find:</label>
                        <input id="search" class="form-control" type="text" name="search" placeholder="Search terms">
                        <input class="btn btn-primary btn-small" type="submit" value="Search">
                    </form>
                </div>
                <div class="col col-md-6">
                    <h3>Export as BibTeX file</h3>
                    <form class="form-inline" method="post" action="/generatebibtex">
                        <label for="filename">Filename:</label>
                        <input class="form-control" type="text" name="filename" id="filename">
                        <input type="submit" value="Export" class="btn btn-primary btn-sm">
                    </form>
                </div>
            </div>

            <h2>Articles</h2>
            <div th:if="${!articles.empty}">
                <table class="table">
                    <tr>
                        <th>BibTeX key</th>
                        <th>Authors</th>
                        <th>Title</th>
                        <th>Journal</th>
                        <th>Volume</th>
                        <th>Number</th>
                        <th>Year</th>
                        <th>Pages</th>
                        <th>Publisher</th>
                        <th>Address</th>
                        <th>Note</th>
                        <th>Key</th>
                        <th>Tags</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="article : ${articles}">
                        <td th:text="${article.id}"></td>
                        <td th:text="${article.authors}"></td>
                        <td th:text="${article.title}"></td>
                        <td th:text="${article.journal}"></td>
                        <td th:text="${article.volume}"></td>
                        <td th:text="${article.number}"></td>
                        <td th:text="${article.year}"></td>
                        <td th:text="${article.pages}"></td>
                        <td th:text="${article.publisher}"></td>
                        <td th:text="${article.address}"></td>
                        <td th:text="${article.note}"></td>
                        <td th:text="${article.key}"></td>
                        <td th:text="${article.tags}"></td>
                        <td><a th:href="${'/article/' + article.id}" class="btn btn-default btn-sm">Edit</a></td>
                        <td><form method="POST" th:action="${'/delete_article/' + article.id}">
                                <input type="submit" name="delete" value="Delete" class="btn btn-danger btn-sm"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${articles.empty}">
                <p>No articles</p>
            </div>

            <h2>Books</h2>
            <div th:if="${!books.empty}">
                <table class="table">
                    <tr>
                        <th>BibTeX key</th>
                        <th>Authors</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Volume</th>
                        <th>Series</th>
                        <th>Edition</th>
                        <th>Publisher</th>
                        <th>Address</th>
                        <th>Note</th>
                        <th>Key</th>
                        <th>Tags</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.authors}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.year}"></td>
                        <td th:text="${book.month}"></td>
                        <td th:text="${book.volume}"></td>
                        <td th:text="${book.series}"></td>
                        <td th:text="${book.edition}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.address}"></td>
                        <td th:text="${book.note}"></td>
                        <td th:text="${book.key}"></td>
                        <td th:text="${book.tags}"></td>
                        <td><a th:href="${'/book/' + book.id}" class="btn btn-default btn-sm">Edit</a></td>
                        <td><form method="POST" th:action="${'/delete_book/' + book.id}">
                                <input type="submit" name="delete" value="Delete" class="btn btn-danger btn-sm"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${books.empty}">
                <p>No books</p>
            </div>

            <h2>Inproceedings</h2>
            <div th:if="${!inproceedings.empty}">
                <table class="table">
                    <tr>
                        <th>BibTeX key</th>
                        <th>Authors</th>
                        <th>Title</th>
                        <th>Booktitle</th>
                        <th>Editor</th>
                        <th>Volume</th>
                        <th>Series</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Pages</th>
                        <th>Organization</th>
                        <th>Publisher</th>
                        <th>Address</th>
                        <th>Note</th>
                        <th>Key</th>
                        <th>Tags</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="inproceeding : ${inproceedings}">
                        <td th:text="${inproceeding.id}"></td>
                        <td th:text="${inproceeding.authors}"></td>
                        <td th:text="${inproceeding.title}"></td>
                        <td th:text="${inproceeding.booktitle}"></td>
                        <td th:text="${inproceeding.editor}"></td>
                        <td th:text="${inproceeding.volume}"></td>
                        <td th:text="${inproceeding.series}"></td>
                        <td th:text="${inproceeding.month}"></td>
                        <td th:text="${inproceeding.year}"></td>
                        <td th:text="${inproceeding.pages}"></td>
                        <td th:text="${inproceeding.organization}"></td>
                        <td th:text="${inproceeding.publisher}"></td>
                        <td th:text="${inproceeding.address}"></td>
                        <td th:text="${inproceeding.note}"></td>
                        <td th:text="${inproceeding.key}"></td>
                        <td th:text="${inproceeding.tags}"></td>
                        <td><a th:href="${'/inproceeding/' + inproceeding.id}" class="btn btn-default btn-sm">Edit</a></td>
                        <td><form method="POST" th:action="${'/delete_inproceeding/' + inproceeding.id}">
                                <input type="submit" name="delete" value="Delete" class="btn btn-danger btn-sm"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${inproceedings.empty}">
                <p>No inproceedings</p>
            </div>
        </div>
    </body>
</html>
